/*
    Green color styles - You can change this colors to any color you want
*/

/* EMPHASIZED COLOR */
span,
a:hover,a:focus,
h1 span, h2 span, h3 span,
h4 span, h5 span, h6 span,
.service-box-icon .icon-container .fa,
.service-box-icon a:hover h3,
.page-content.dark .wpcf7 .wpcf7-text:focus,
.page-content.dark .wpcf7 .wpcf7-textarea:focus,
strong a,
.custom-heading a:hover h4,
.widget_nav_menu ul li span:hover,
.widget_nav_menu ul li .fa,
.btn-link:hover,
.widget_nav_menu ul li a:hover span,
.widget_recent_entries ul > li a .fa,
.widget_recent_entries ul > li a:hover p,
.centered-icon .icon-container .fa,
.read-more-icon:hover + .block-title,
.tweet-list li a,
.header-dark-theme-color #header .dropdown-menu > li.current-menu-item > a,
.header-dark-theme-color .navbar-default .navbar-nav>li>a:hover,
.header-dark-theme-color #header .navbar-default .navbar-nav > li >a:focus,
.header-dark-theme-color .navbar-nav>li>a:before,
.header-dark-theme-color #header .dropdown-menu > li > a:hover, 
.header-dark-theme-color #header .dropdown-menu > li > a:focus, 
.header-dark-theme-color #header .dropdown.dropdown-submenu > a:hover::after,
.header-light-theme-color #header .dropdown-menu > li.current-menu-item > a,
.header-light-theme-color #header .navbar-default .navbar-nav > li >a:hover,
.header-light-theme-color #header .navbar-default .navbar-nav > li >a:focus,
.header-light-theme-color .navbar-nav>li>a:before,
.header-light-theme-color #header .dropdown-menu > li > a:hover, 
.header-light-theme-color #header .dropdown-menu > li > a:focus, 
.header-light-theme-color #header .dropdown.dropdown-submenu > a:hover::after,
.navbar-nav > li.dropdown.hover:hover > .dropdown-menu > li.current-menu-item >a,
.megamenu> li > ul > .current-menu-item > a,
.nav .open > a:focus,
.btn-wrapper .btn.btn-outlined,
.team-member.block-item .team-member-name a:hover h4,
.team-member.clean-style .team-member-name a:hover h4,
.team-member.simple-style .team-member-name a:hover h4,
.block-title:hover + .read-more-icon .fa,
.read-more-icon:hover .fa,
.team-member.clean-style .social-links.theme-hover li a:hover .fa,
.team-member.simple-style .social-links.theme-hover li a:hover .fa,
.header-wrapper.hamburger-menu.hamburger-menu-dark .fat-nav li a:hover,
.header-wrapper.hamburger-menu.hamburger-menu-light .fat-nav li a:hover,
#footer-wrapper.simple-style.footer-dark .breadcrumb li a:hover,
#footer-wrapper.simple-style .to-top .fa,
.newsletter .newsletter-submit:hover,
.footer-dark .footer-widget-container .widget a:hover,
.footer-light .footer-widget-container .widget a:hover,
#footer-wrapper.widgetized-style-1.footer-dark .to-top:hover,
#footer-wrapper.widgetized-style-1.footer-dark .to-top:hover .fa,
#footer-wrapper.widgetized-style-1.footer-light .to-top:hover,
#footer-wrapper.widgetized-style-1.footer-light .to-top:hover .fa,
#footer-wrapper.widgetized-style-1.footer-light .to-top:hover,
#footer-wrapper.widgetized-style-1.footer-light .to-top:hover .fa,
.footer-light .footer-widget-container .newsletter .newsletter-submit:hover,
.footer-dark .footer-widget-container .newsletter .newsletter-submit:hover,
#footer-wrapper.footer-light p a,
#footer-wrapper #copyright-container p a:hover,
#copyright-container a:hover,
.widget.widget_nav_menu.widget_horizontal_menu .menu .menu-item a:hover,
.footer-dark .rpw_posts_widget .rpw_blog a:hover h4,
.footer-light .rpw_posts_widget .rpw_blog a:hover h4,
.footer-dark .footer-widget-container .widget.widget_recent_comments ul li a,
.footer-light .footer-widget-container .widget.widget_recent_comments ul li a,
.page-content.dark .heading-subtitle-top p.text-theme-color,
.page-content.dark .heading-subtitle-top h2.text-theme-color,
.heading-subtitle-top p.text-theme-color,
.heading-subtitle-top h2.text-theme-color,
.heading-subtitle-top span.text-theme-color,
.heading-subtitle-bottom span.text-theme-color,
.page-content.dark .heading-subtitle-top span.text-theme-color,
.page-content.dark .heading-subtitle-bottom span.text-theme-color,
.page-content.dark .heading-h1 span.text-theme-color,
.page-content.dark .heading-h2 span.text-theme-color,
.page-content.dark .heading-h3 span.text-theme-color,
.page-content.dark .heading-h4 span.text-theme-color,
.heading-h1 span.text-theme-color,
.heading-h2 span.text-theme-color,
.heading-h3 span.text-theme-color,
.heading-h4 span.text-theme-color,
.header-dark-default #header .dropdown-menu > li.current-menu-item > a,
.header-dark-default #header .dropdown-menu > li.current-menu-item > a:hover,
.navbar-default .navbar-nav > li.current-menu-parent > a,
.navbar-default .navbar-nav > li.current-menu-item > a,
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus,
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus,
.post-body h4:hover,
.blog-post .read-more:hover,
.post-share:before,
.post-image .post-body h4:hover,
.aside .newsletter .newsletter-submit:hover,
.aside .widget ul li a:hover,
.aside .rpw_posts_widget .rpw_blog h4:hover,
.widget_recent_entries ul > li::before,
.blog-posts.post-list .blog-post .post-body h3:hover,
.blog-author .author-name:hover,
.blog-author-description a:hover,
.comments-li .comment .comment-reply-link:hover,
.comments-li .comment .comment-reply-link:hover .fa,
.blog-details .rpw_posts_widget .rpw_blog h4:hover,
.header-wrapper.hamburger-menu.hamburger-menu-light .fat-nav li .dropdown.active,
.header-wrapper.hamburger-menu.hamburger-menu-dark .fat-nav li .dropdown.active,
.header-wrapper.hamburger-menu.hamburger-menu-light .fat-nav li .dropdown-multilevel.active,
.header-wrapper.hamburger-menu.hamburger-menu-dark .fat-nav li .dropdown-multilevel.active,
.page-404-content.page-title-fullscreen .heading-subtitle-bottom h1,
.expand,
.counter .county-days-wrapper:after,
.counter .county-hours-wrapper:after,
.counter .county-minutes-wrapper:after,
.counter .county-seconds-wrapper:after,
.contact-info-container .icon-container .fa,
.page-content .newsletter .submit:hover,
.icon-list.list-theme-color .icon-container .fa,
.page-content #tweetscroll-wrapper ul li a,
.page-content #tweetscroll-wrapper ul li p span,
.footer-light .social-links.social-dark.outlined-dark.theme-hover li a:hover .fa,
.footer-dark .social-links.social-light.outlined-light.theme-hover li a:hover .fa,
.social-links.social-dark.theme-hover.outlined-dark a:hover .fa,
.footer-light .social-links.social-light.theme-hover.outlined-light a:hover .fa,
.social-links.outlined-dark.social-dark li a:hover .fa,
.social-links.outlined-light.social-light li a:hover .fa,
.left-menu .social-links.social-dark.theme-hover.outlined-dark a:hover .fa,
.left-menu .social-links.outlined-dark.social-dark li a:hover .fa,
.left-menu .social-links.outlined-light.social-light li a:hover .fa,
.ms-layer.post-meta li a:hover,
.pricing-table .price p,
.pricing-table .plan-call-to-action a,
.media-heading.author:hover,
.post-share .fa,
.portfolio-photography .isotope-item .post-body .post-meta .post-share .count:hover,
.portfolio-list .portfolio-item .view-all-title h3,
.header-wrapper.hamburger-menu.hamburger-menu-dark .fat-nav li.current-menu-item > a,
.header-wrapper.hamburger-menu.hamburger-menu-light .fat-nav li.current-menu-item > a,
.simple-link:hover,
.dark .simple-link:hover,
.widget ul li a:hover,
.woocommerce ul.product_list_widget li .product-title:hover,
.woocommerce nav.woocommerce-pagination .page-numbers li span.current,
.service-box-textual a:hover h3,
.social-links.theme-hover li a:hover,
.aside-widgets .tweets-list-container .tweet-list li span.hash,
.aside-widgets .tweets-list-container .tweet-list li a{
    color: #d5d987;
}

/* EMPHASIZED COLOR - FOCUS */
.btn-link:focus {
    color: #FBFEBD;
}

/* EMPHASIZED BACKGROUND COLOR */
.widget_tag_cloud .tagcloud a:hover,
.slide-line,
.btn-primary.style-2:hover,
.btn-primary.style-1:hover,
.btn-primary.style-1:focus,
.btn-primary.style-2,
.read-more:before,
.menu-icon.open span,
.widget .title h3:after,
.widget .widget-title:after,
.block-item .block-item-buttons li:hover,
.btn-wrapper .btn,
.btn-wrapper .btn.btn-white:hover,
.heading-subtitle-bottom h1:after,
.heading-subtitle-bottom h2:after,
.heading-subtitle-bottom h3:after,
.btn-wrapper .btn.btn-outlined:hover,
.header-wrapper .header-cart .cart-count,
.footer-light .widget_tag_cloud a:hover,
.footer-dark .widget_tag_cloud a:hover,
.widget.widget_search .search-submit,
.service-box-textual .separator,
.blockquote-wrapper .blockquote-boxed .cite:before,
.blockquote-simple .top-title:before,
.quote-post .blockquote .cite:before,
.blog-post-gallery .nivo-controlNav a.active,
.pagination li:hover a,
.pagination li.active a,
.comment-form .wpcf7-submit.btn:hover,
.portfolio-grid .isotope-item .mask .post-body .open-image:hover,
.portfolio-masonry .isotope-item .mask .post-body .open-image:hover,
.portfolio-grid.portfolio-category .isotope-item .mask .post-body .open-image:hover,
.portfolio-grid.portfolio-category .post-category,
.portfolio-blog-nav-hover .portfolio-blog-nav-btn span:before,
.portfolio-blog-nav-hover .portfolio-blog-nav-btn:hover,
.portfolio-blog-nav-hover .portfolio-blog-nav-btn-wrapper.nav-back .portfolio-blog-nav-btn,
.maintenance-page .expand,
.counter .county-days-wrapper:after,
.counter .county-hours-wrapper:after,
.counter .county-minutes-wrapper:after,
.counter .county-seconds-wrapper:after,
.number-counter .timer-container:after,
.image-link a span:after,
.details-list li h5:before,
.jp-volume-bar-value,
.jp-play-bar,
.nanobar .bar,
.newsletter-popup .newsletter .submit,
.divider,
.woocommerce.woocommerce-page .product button.button.alt,
.woocommerce.woocommerce-page .product .related.products ul.products li a.button,
.woocommerce.woocommerce-page .product .woocommerce-tabs #review_form_wrapper .form-submit #comment-reply,
.social-links.social-light.social-animated a.animate-social-icon:hover,
.social-links.social-dark.social-animated a.animate-social-icon:hover{
    background-color: #d5d987;
}
.social-links.social-dark.theme-hover li a:hover,
.social-links.social-light.theme-hover li a:hover,
.hamburger.active:hover .hamburger__icon:before,
.hamburger.active:hover .hamburger__icon:after {
    background-color: #d5d987 !important;
}

/* EMPHASIZED BACKGROUND COLOR - HOVER*/
.btn-wrapper .btn:hover,
.widget.widget_search .search-submit:hover,
.portfolio-blog-nav-hover .portfolio-blog-nav-btn-wrapper.nav-back .portfolio-blog-nav-btn:hover,
.newsletter-popup .newsletter .submit:hover,
.woocommerce.woocommerce-page .product button.button.alt:hover,
.woocommerce.woocommerce-page .product .related.products ul.products li a.button:hover,
.woocommerce.woocommerce-page .product .woocommerce-tabs #review_form_wrapper .form-submit #comment-reply:hover{
    background-color: #FBFEBD;
}
.mask {
    background-color: rgba(213, 217, 135, 0.8);
}

/*  BORDERS
============================================================================= */

/* EMPHASIZED BORDER COLOR */
.wpcf7-text:focus,
.wpcf7-select:focus,
.wpcf7-textarea:focus,
.btn-wrapper .btn.btn-outlined,
.footer-light .widget_tag_cloud a:hover,
.footer-dark .widget.widget_search .a_search:focus,
.footer-light .widget.widget_search .a_search:focus,
.blockquote-standard.theme-color,
.contact-form .wpcf7-text:focus,
.contact-form .wpcf7-textarea:focus,
.dark .contact-form .wpcf7-text:focus, 
.dark .contact-form .wpcf7-select:focus,
.dark .contact-form .wpcf7-textarea:focus,
.tabs li.active a,
.tabs li a:hover,
.pricing-table.plan-1.plan-highlighted,
.left-menu.dark .social-links.outlined-dark.natural-hover a:hover,
.page-content .newsletter .email:focus,
.newsletter-popup,
.newsletter-popup .newsletter input:focus,
.woocommerce.woocommerce-page .product .woocommerce-tabs #review_form_wrapper .comment-form .comment-form-author input:focus,
.woocommerce.woocommerce-page .product .woocommerce-tabs #review_form_wrapper .comment-form .comment-form-email input:focus,
.woocommerce.woocommerce-page .product .woocommerce-tabs #review_form_wrapper .comment-form-comment #comment:focus{
    border-color: #d5d987;
}
.to-top,
.aside .widget.widget_search .a_search:focus,
.tabs li.active a,
.tabs li a:hover,
.social-links.social-dark.theme-hover.outlined-dark a:hover,
.social-links.social-light.theme-hover.outlined-light a:hover{
    border-color: #d5d987 !important;
}

/* EMPHASIZED TOP BORDER COLOR */
#testimonial-carousel .testimonial-background:after {
    border-top-color: #d5d987;
}

/* SVG FILL */
.svg-theme-color .st0,
.svg-red .st0,
.block-title:hover + .read-more-icon .svg-theme-hover .st0,
.pricing-table .plan-call-to-action .st0{
    fill: #d5d987;

}

