/*

Master slider skin custom style 3

*/

.ms-skin-custom-style-3 .ms-nav-next, .ms-skin-custom-style-3 .ms-nav-prev{
    right: 60px;
    left: auto;
    width: 70px;
    height: 50px;
    opacity: 0.85;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.ms-skin-custom-style-3 .ms-nav-next, .ms-skin-custom-style-3 .ms-nav-prev{ 
    border: 1px solid #fff;
}
.ms-skin-custom-style-3 .ms-nav-next:hover, .ms-skin-custom-style-3 .ms-nav-prev:hover {
    opacity: 1;
    width: 130px;
}
.ms-skin-custom-style-3 .ms-nav-next {
    margin-top: -55px;
    background: transparent url(next-arrow.svg) no-repeat;
    background-position: right 25px center;
}
.ms-skin-custom-style-3 .ms-nav-next:before,
.ms-skin-custom-style-3 .ms-nav-prev:before {
    animation: animSideNav 0.1s forwards;
    animation-delay: 0.1s;
    opacity: 0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
}
.ms-skin-custom-style-3 .ms-nav-next:hover:before,
.ms-skin-custom-style-3 .ms-nav-prev:hover:before{
    position: absolute;
    top: 15px;
    left: 28px;
    color: #dddddd;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.ms-skin-custom-style-3 .ms-nav-next:hover:before {
    content:"Next";
}
.ms-skin-custom-style-3 .ms-nav-prev:hover:before {
    content:"Prev";
}
.ms-skin-custom-style-3 .ms-nav-prev {
    margin-top: 0px;
    background: transparent url(prev-arrow.svg) no-repeat;
    background-position: right 25px center;
}